<div class="row">
  <div *ngFor="let item of pruebas" class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{item.nombre}}</h4>
        <!-- <div class="card-body">
          <h4 class="card-title">A basic message <small>(Click on image)</small> </h4>
          <img src="../assets/images/alert/alert.png" alt="alert" class="img-responsive model_img" id="sa-basic">
        </div> -->
        <p class="card-text">{{item.descripcion}}</p>
        <a href="#" class="btn btn-info text-center">Iniciar Prueba</a>
        <span class="action-icons active">
            <i class="ti-pencil-alt"></i>
            <i class="icon-close" (click)="message()"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- #main-wrapper > div > div > div:nth-child(6) > div:nth-child(1) > div > div.comment-widgets > div.d-flex.flex-row.comment-row.active > div.comment-text.active.w-100 > div > span.action-icons.active -->