<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" style="background-size: cover; background-image:url(assets/images/background/coach2.png);height: 1000px;">

</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->